[submodule "cs381"]
	path = cs381
	url = https://github.com/cornettn/cs381.git
[submodule "cs252/my_malloc"]
	path = cs252/my_malloc
	url = https://github.com/cornettn/my_malloc.git
[submodule "cs252/shell"]
	path = cs252/shell
	url = https://github.com/cornettn/shell.git
[submodule "cs252/cs252-threads"]
	path = cs252/cs252-threads
	url = https://github.com/cornettn/cs252-threads.git
[submodule "cs252/cs252-web-server"]
	path = cs252/cs252-web-server
	url = https://github.com/cornettn/cs252-web-server.git
